/* Стилі за замовчуванням */
body {
    font-family: Arial, sans-serif;
    font-style: oblique;
    font-size: large;
    font-weight: 900;
    color: #000000;
    margin: 0;
    padding: 0;   
}

header {
    background-color: #2baa5c;
    padding: 1rem;
}

header h1 {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

section {
    padding: 1rem; 
    background-color: lightgrey;  
}
.first{
    text-align: center;
}
.first>h2{
    text-align: center;
}
img{
    border-radius: 20px;
}
span{
    color: brown;
    text-decoration: underline;
}
.rocket{
    text-align: left;
}
.dancing{
    text-align: right;
}
.photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer {
    background-color: #2baa5c;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

/* Стилі для екранів менше 600 пікселів */
@media (max-width: 600px) {
    header h1 {
        font-size: 1.2rem;
    }
    .rocket{
    text-align: center;
    }
    .dancing{
    text-align: center;
    }
    section h2 {
        font-size: 1.4rem;
    }
    .photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

/* Стилі для екранів більше 600 пікселів */
@media (min-width: 601px) and (max-width: 1023px) {
    header h1 {
        font-size: 2.5rem;
    }
    .rocket{
    text-align: center;
    }
    .dancing{
    text-align: center;
    }
    section h2 {
        font-size: 2rem;
    }
    .photos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
